<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ng.cheo.android.applemusic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NowPlayingActivity"
            android:label="Now Playing"/>
        <activity android:name=".SearchActivity"
            android:label="Search" />
        <activity android:name=".StoreActivity"
            android:label="Store" />
        <activity android:name=".DetailActivity"
            android:label="Detail" />
    </application>

</manifest>